# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.*.local

# Testing
coverage
*.test.js
tests

# Logs
logs
*.log

# Temp files
temp/*
!temp/.gitkeep

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
*.md
!README.md
